<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<% if @artists.blank? %>
  <p> Empty artists</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <td><%= link_to artist.name, artist %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
<% end %>

<%= link_to 'New Artist', new_artist_path %>
